<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div id="container-bg" class="container">
    <div class="container__input-form">
      <input id="searchField" type="text" placeholder="Write the city">
      <button class="send-key">Search</button>
    </div>
    <div class="weather-info">
      <div class="weather-info__variables">
        <ul>
          <li><span class="variable">City</span><span class="value name">Kyiv</span></li>
          <li><span class="variable">Temperature</span><span class="value">3.51&#176C</span></li>
          <li><span class="variable">Hudimity</span><span class="value">60%</span></li>
          <li><span class="variable">Wind</span><span class="value">3m/s</span></li>
          <li class="hidden"><span class="variable">Description</span><span class="value">Light rainmist</span></li>
        </ul>
      </div>
      <div class="weather-info__weather-icon">
        <img id="weather-img" src="https://visualpharm.com/assets/699/Partly%20Cloudy%20Rain-595b40b65ba036ed117d312c.svg" alt="weather-icon">
      </div>
    </div>
  </div>
  <script src="js/index.min.js"></script>
</body>

</html>
